.productList {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pl-texts {
    width: 65%;
}

.pl-title{
    font-size: 50px;
    font-weight: 600;
    color: #0d6e66;
}

.pl-desc{
    margin: 20px 0px;
    color: #0d6e66;
    font-size: 24px;
    font-weight: 400;

}

.pl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

@media screen and (max-width: 480px) {
    .productList {
      padding: 10px;
    }
  
    .pl-texts {
      width: 100%;
      margin-top: 100%;
    }
  
    .pl-desc {
      display: none;
     
    }

    .pl-title{
        margin-top: 15%;
      font-size: 18px;
    }

    .pl-list{
      flex-direction: column;
      margin-left: 50%;
    }
  }
